<% content_for :title do %>
  Add questions to "<%= @poll.title %>"
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablednd_0_5', 'questions' %>
<% end %>

<%= link_to 'Back to poll', poll_path(@poll) %>
<%= link_to 'New Question', new_poll_question_path %>

<div id="question-listing">
  <table class="question-index" id="poll-questions">
    <thead>
      <tr>
        <th class="question">Questions currently in "<%= @poll.title %>"</th>
        <th class="question-remove"></th>
      </tr>
    </thead>
    <tbody>
    <% @poll_questions.each do |q| %>
      <tr class="question-<%= q.id %>">
        <td class="question"><%= q.body %></td>
        <td class="question-link"><%= link_to 'X', remove_from_poll_path(@poll.id, q.id), :remote => true %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table class="question-index" id="all-questions">
    <thead>
      <tr>
        <th class="question">Your Questions</th>
        <th class="question-add"></th>
      </tr>
    </thead>
    <tbody>
    <% @remaining_questions.each do |q| %>
      <tr class="question-<%= q.id %>">
        <td class="question"><%= q.body %></td>
        <td class="question-link"><%= link_to 'Add', add_to_poll_path(@poll.id, q.id), :remote => true %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
