<h1>Listing questions for <%= @poll.title %></h1>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |q| %>
  <tr>
    <td><%= q.body %></td>
    <td><%= link_to 'Show', question_path(q) %></td>
    <td><%= link_to 'Edit', edit_question_path(q) %></td>
    <td><%= link_to 'Delete', question_path(q), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_poll_question_path %>
