<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>

<p>
  <b>Associated Poll:</b>
  	<%= @poll.title %>
</p>

<p>
  <b>Multiple Choice Answers:</b>
  <% if @question.answers.exists? %>
    <ol>
      <% @question.answers.each do |a| %>
        <li><%= link_to a.body, question_answer_path(@question, a) %></li>
      <% end %>
    </ol>
  <% else %>
    <small>No answers for this question yet.</small>
  <% end %>
  <p>
    <%= link_to 'Add a new answer', new_question_answer_path(@question) %>
  </p>
</p>
<%= link_to 'Edit', edit_poll_question_path(@poll, @question) %> |
<%= link_to 'Back', poll_questions_path %>
