<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>

<p>
  <b>Associated Polls:</b>
  <% if @question.polls.empty? %>
    No associated polls.
  <% else %>
  <ul>
    <% @question.polls.each do |p|%>
    	<li><%= p.title %></li>
  	<% end%>
	</ul>
	<% end %>
</p>

<p>
  <b>Multiple Choice Answers:</b>
  <% if @question.answers.exists? %>
    <ol>
      <% @question.answers.each do |a| %>
        <li><%= link_to a.body, answer_path(a) %></li>
      <% end %>
    </ol>
  <% else %>
    <small>No answers for this question yet.</small>
  <% end %>
  <p>
    <%= link_to 'Add a new answer', new_poll_path() %>
  </p>
</p>
<%= link_to 'Edit', edit_question_path() %>
