<% content_for :title do %>
  Question: <%= @question.body %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<p>
  <h3>Title</h3>
  <%= @question.body %>
</p>

<p>
  <h3>Polls this question belongs to</h3>
  <% if @question.polls.empty? %>
    <small>none</small>
  <% else %>
    <ul>
      <% @question.polls.each do |p|%>
      	<li><%= p.title %></li>
    	<% end%>
	  </ul>
	<% end %>
</p>

<p>
  <h3>Multiple Choice Answers</h3>
  <% if @question.answers.exists? %>
    <ol>
      <% @question.answers.each do |a| %>
        <li>
          <%= link_to a.body, answer_path(a) %>
          <% if a.correct %> 
            <span class="correct"> (correct answer) 
          <% end %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p><small>No answers for this question yet.</small></p>
  <% end %>
  <p>
    <%= link_to 'Add a new answer', new_question_answer_path(@question) %> | <%= link_to 'Edit question', edit_question_path() %>
  </p>
</p>
