<% content_for :title do %>
  Answer to question: <%= @answer.question.body %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<p>
  <h3>Body</h3>
  <%= @answer.body %>
  <% if @answer.correct %>
    <span class="correct"> (correct answer) </span>
  <% end %>
</p>

<p>
  <h3>Question</h3>
  <%= @answer.question.body %>
</p>


<%= link_to 'Edit', edit_answer_path %>
