<% content_for :title do %>
  Listing Polls
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div class="button-create">
  <%= link_to 'New Poll', new_poll_path %>
</div>

<table class="listing-table polls">
  <tbody>
  <tr>
    <th class="tblcol-name">Title</th>
    <th class="tblcol-link"></th>
    <th class="tblcol-link"></th>
    <th class="tblcol-link last"></th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td class="tblcol-name"><%= poll.title %></td>
    <td class="tblcol-link"><%= link_to 'Show', poll %></td>
    <td class="tblcol-link"><%= link_to 'Edit', edit_poll_path(poll) %></td>
    <td class="tblcol-link last"><%= link_to 'Delete', poll, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<% unless @active_polls.empty? %>
  <h2>Active Polls</h2>
  <table class="listing-table active-polls">
    <tbody>
    <tr>
      <th class="tblcol-name">Title</th>
      <th>Started</th>
      <th class="last">Token</th>
    </tr>
    <% @active_polls.each do |a| %>
      <tr>
        <td class="tblcol-name"><%= link_to a.poll.title, view_active_poll_path(a.id) %></td>
        <td ><%= time_ago_in_words a.report.created_at %> ago</td>
        <td class="token last"><%= a.token %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
