<% content_for :title do %>
  Listing Polls
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div class="button-create">
  <%= link_to 'New Poll', new_poll_path %>
</div>

<table class="listing-table polls">
  <tr>
    <th class="tblcol-name">Title</th>
    <th class="tblcol-link"></th>
    <th class="tblcol-link"></th>
    <th class="tblcol-link last"></th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td class="tblcol-name"><%= poll.title %></td>
    <td class="tblcol-link"><%= link_to 'Show', poll %></td>
    <td class="tblcol-link"><%= link_to 'Edit', edit_poll_path(poll) %></td>
    <td class="tblcol-link last"><%= link_to 'Delete', poll, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
