<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablednd_0_5', 'questions' %>
<% end %>

<% content_for :title do %>
  <%= @poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<%= link_to 'Add questions', poll_questions_path(@poll) %>

<% if @poll.pollquestions.empty? %>
  <div class="poll-questions-empty">
    No questions.
  </div>
<% else %>
  <%= form_tag({:controller => :polls, :action => "sort"}, :method => "post", :id => "questions-sort", :remote => true) do %>
  <table id="poll-questions">
    <tbody>
      <tr class="nodrop nodrag">
        <th class="tabledrag-handle"></th>
        <th class="question">Questions</th>
        <th class="question-button-show"></th>
        <th class="question-weight">Weight</th>
      </tr>
      <% @poll.pollquestions.sort_by {|q| q.weight}.each do |pq| %>
        <tr>
          <td class="dnd-tab"></td>
          <td class="question"><%= pq.question.body %></td>
          <td class="question-button-show"><%= link_to "Show", question_path(pq.question) %></td>
          <td class="question-weight">
            <%= select_tag("weight[#{pq.id.to_s}]", options_for_select((0..@poll.pollquestions.length - 1).to_a, pq.weight)) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Save Order" %>
  <% end %>
<% end %>

<p><%= link_to 'Edit poll', edit_poll_path(@poll) %></p>

<p><%= link_to 'Present Poll', poll_present_path %></p>



