<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @poll.title %>
</p>

<p>
	<b>Questions:</b>
	<%= link_to 'View all of this poll\'s questions', poll_questions_path(@poll) %>
	<ul>
	<% if @poll.questions.empty? %>
	  <small>No questions.</small>
	<% else %>
	  <% @poll.questions.each do |q| %>
		  <li><%= link_to q.body, question_path(q) %></li>
		<% end %>
	<% end %>
	</ul>
	<%= link_to 'Add a new question', new_poll_question_path(@poll) %>
</p>


<%= link_to 'Edit poll', edit_poll_path(@poll) %> |
