<% content_for :head do %>
  <%= javascript_include_tag 'clicker' %>
<% end %>

<% content_for :title do %>
  <%= @active_poll.id %> <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<span id="active_poll_id"><%= @active_poll.id %></span>

<div class="info">
  <h2><%= @active_poll.question.body %></h2>
</div>
<ul id="container_answers" class="rounded">
  <% @active_poll.question.answers.each do |a| %>
    <li class="arrow"><%= link_to a.body, clicker_submit_path({:anchor => "container_submit", :answer_id => a}), {:class => "answer"} %></li>
  <% end %>
</ul>