<% content_for :head do %>
  <%= javascript_include_tag 'browser', 'clicker' %>
<% end %>

<% content_for :title do %>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div id="container_question">
  <span id="active_poll_id"><%= @active_poll.id %></span>

  <div id="container_question" >
    <h2><%= @active_poll.question.body %></h2>
  </div>

  <div id="answers">
    <ul id="container_answers" >
      <% @active_poll.question.answers.each do |a| %>
        <li class="arrow">
          <%= link_to a.body, clicker_submit_path({:anchor => "pageSubmit", :answer_id => a}), {:class => "answer"} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="reload-question">
  <%= link_to "Click here", clicker_path(@active_poll.token) %> <span id="reload-text">to reload the question.</span>
</div>
