<% content_for :title do %>
  <span id="active_poll_id"><%= @active_poll.id %></span>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :title do %>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div id="continer_message" class="info">
  <h2>Thanks, your answer has been submitted!</h2>
</div>

<div id="reload-question" class="content">
  <p><%= link_to "Load new question", clicker_path(@active_poll.token) %>  <span>to change your answer or reload the question.</span></p>
</div>