<% content_for :head do %>
  <%= javascript_include_tag 'clicker' %>
<% end %>

<% content_for :title do %>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<span id="active_poll_id"><%= @active_poll.id %></span>

<div id="container_question" >
  <h2><%= @active_poll.question.body %></h2>
</div>

<div id="answers">
  <ul id="container_answers" >
    <% @active_poll.question.answers.each do |a| %>
      <li class="arrow"><%= link_to a.body, clicker_submit_path({:anchor => "pageSubmit", :answer_id => a}) %></li>
    <% end %>
  </ul>
</div>

<div id="next-question">
  <%= link_to "Load new question", clicker_path(@active_poll.id)%>
  <small>Once the pollster has changed it</small>
</div>
