<% content_for :head do %>
  <%= javascript_include_tag 'clicker' %>
<% end %>

<% content_for :title do %>
  <span id="active_poll_id"><%= @active_poll.id %></span>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div id="container_question" class="info">
  <h2><%= @active_poll.question.body %></h2>
</div>

<ul id="container_answers" class="rounded">
  <% @active_poll.question.answers.each do |a| %>
    <li class="arrow"><%= link_to a.body, clicker_submit_path({:answer => a}) %></li>
  <% end %>
</ul>