<pre>SESSION ID: <%= session[:session_id] %></pre>

<% content_for :title do %>
  <%= @active_poll.poll.title %>
<% end %>

<p id="notice"><%= notice %></p>
<div class="info"><h2><%= @active_poll.question.body %></h2></div>
<ul class="rounded">
  <% @active_poll.question.answers.each do |a| %>
    <li class="arrow"><%= link_to a.body, submit_active_poll_path({:answer => a}) %></li>
  <% end %>
</ul>