<% content_for :head do %>
  <%= javascript_include_tag 'clicker' %>
<% end %>

<% content_for :title do %>
  <span id="active_poll_id"><%= @active_poll.id %></span>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<h1>Thanks, you answer has been submitted!</h1>

<div id="next-question">
  <%= link_to "Load new question", clicker_path(@active_poll.id)%>
  <small>Once the pollster has changed it</small>
</div>
