<% content_for :head do %>
  <%= javascript_include_tag 'clicker' %>
<% end %>

<% content_for :title do %>
  <%= @active_poll.id %> <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div id="container_question" class="info">
  <h2><%= @active_poll.question.body %></h2>
</div>

<ul id="container_answers" class="rounded">
  <% @active_poll.question.answers.each do |a| %>
    <li class="arrow"><%= link_to a.body, submit_active_poll_path({:answer => a}) %></li>
  <% end %>
</ul>

<ul id="next-question" class="rounded">
  <li class="arrow"><%= link_to "Load new question", clicker_path(@active_poll.id)%></li>
</ul>