<% content_for :title do %>
  Active Poll: <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<p>
	<h2><%= @active_poll.question.body %></h2>
  
</p>
<p>
  <h2>Choices</h2>
  <ol>
    <% @active_poll.question.answers.each do |a| %>
      <li><%= a.body %></li>
    <% end %>
  </ol>
</p>

<p>
  <%= link_to 'Next', next_active_poll_path %> |
  goto: <%= collection_select :active_poll, :question, @active_poll.poll.questions.all, :to_s, :body %>
</p>



