<% content_for :title do %>
  Listing Reports
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<table class="listing-table results">
  <tr>
    <th>Poll Name</th>
    <th>Polled</th>
    <th>Number of questions</th>
    <th>Number of Participants</th>
    <th></th>
    <th></th>
  </tr>

  <% @reports.each do |report| %>
  <tr>
    <td><%= report.poll.title %></td>
    <td><%= time_ago_in_words(report.created_at) %> ago</td>
    <td><%= report.poll.questions.count %></td>
    <td><%= report.participants.count %></td>
   
    <td class="tblcol-link"><%= link_to 'Show', report %></td>
    
   
  </tr>
  <% end %>
</table>
