<% content_for :head do %>
  <!--<%= javascript_include_tag "/javascripts/jquery.flot.pack.js" %>-->
  <%= javascript_include_tag "/javascripts/excanvas.pack.js" %>
  <%= javascript_include_tag "report_monitor.js" %>
  <%= javascript_include_tag "jquery.flot.js" %>
<% end %>

<% content_for :title do %>
  Report for:<%=@report.poll.title%>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div id="placeholder" style="width:600px;height:300px;display:none">
</div>

<div id="temp-table">

  <span id="report-id">Report id:<%= @report.id %></span><br/>
  Total Participants:<span class="num_of_participants"><%= @report.participants.count %></span>
  <table>
      <thead> 
          <tr>
              <th>Question Number</th>
              <th>Number of Correct Answers</th>
          </tr>
      </thead>
      <tbody>
          <% @report.poll.questions.each do |q| %>  
              <tr>    
                  <td><%= q.body %></td>
                  <td class="correct_answer"><%= AnsweredQuestion.num_correct(q).to_s %></td>
              </tr>   
          <% end %>
      </tbody>
  </table>
</div>

Total Participants:
<span class="num_of_participants"><%= @report.participants.count %></span>
<hr/>

<% @report.poll.questions.each_with_index do |q, i| %>
  <div class="question">

    <div class="question_name"><%= q.body %></div>
    
    <table>
      <thead>
        <th>Answer</th>
        <th>Number of times answered</th>
      </thead>

      <% q.answers.each do |a| %>
        <tr>
          <td><%= a.body %></td>
          <td><span class="value"> <%= a.picked(@report) %> </span></td>
        </tr>
      <% end %>

   </table>
  </div>
<% end %>

<p>
  Polled <%= time_ago_in_words(@report.poll.created_at) %> ago.
</p>

<%= link_to 'View all reports', reports_path %>
