<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= @page_title -%></title>
  <%= stylesheet_link_tag "compiled/styles", :media => "screen" %>
  <%= stylesheet_link_tag "compiled/screen", :media => "screen" %>
  <%= stylesheet_link_tag "compiled/print", :media => "print" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="bp one-col">
  <div id="container" class="">
    <div id="header">
      <div id="site-title">
        <h1>Pollster</h1>

        <% if user_signed_in? %>
        <div id="user-nav">
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %>
        </div>
        <% end %>
      </div>
    
      <% if user_signed_in? %>
      <div id="main-nav">
        <ul class="links">
          <li class="navitem"><%= link_to 'Polls', polls_path %></li>
          <li class="navitem"><%= link_to 'Reports', reports_path %></li>
          
          <% if can? :manage, :user %>
            <!-- Only admins will be able to access administer section (Administer Users). -->
            <li class="navitem">Administration</li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    
    <div id="content">
      <h2><%= yield :title %></h2>
      <%= yield %>
    </div>
    
    <!-- Full height column -->
    <div id="content-ped"></div>
    <div id="footer">
      <div class="first-col">BCIT Polling System</div>
      <div class="second-col">Team Destruction - CST Data Communications, 2010</div>
    </div>
  </div>
</body>
</html>
