<!DOCTYPE html>
<html>
<head>
  <title>Voting</title>
  <%= stylesheet_link_tag "compiled/mobile", :media => "screen" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>Vote BCIT!</h1>  
<hr/>
Home | 
<%= link_to 'Polls', polls_path %> | 
<%= link_to 'Reports', reports_path %> |
Logout

<hr/>
<%= yield %>

</body>
</html>
